<%- include('../head'); -%>
<body>
  <%- include('../navbar'); -%>

  <div class="p-3">
    <h2><%= event.name -%></h2>
    <h4>People Invited: </h4>
    <p><%= event.people_invited-%></p>
    <h4>Location: </h4>
    <p><%=event.location-%></p>
    <h4>Date: </h4>
    <p><%=event.date.toLocaleDateString()-%> <%=event.date.toLocaleTimeString()-%></p>
    <h4>Organizer: </h4>
    <p><%=event.organizer-%></p>
    <h4>Description: </h4>
    <p><%= event.description -%></p>
    <h2>Comments: </h2>
    <%_ for (const c of comments) { -%>
      <p><%-c.comment-%></p>
      <p>Posted By: <%-c.author-%></p>
      <%_ if(owner) { -%>
        <%_ if(owner.username == event.organizer || owner.username == c.author) { -%>
          <a href="#"<button class="btn btn-danger delete-comment" data-id='<%= c._id-%>'>Delete</button></a>
        <%_ } -%>
      <%_ } -%>

    <%_ } -%>
    <p><br /></p>
    <%_ if(owner) { -%>
      <form action="/comments/add" method="post">
        <div class="form-group">
          <input type="textarea" name="comment" placeholder="Comment...">
          <input class="HIDDEN" name="event" value="<%=event.name-%>">
        </div>
        <input class="btn btn-primary" type="submit"  value="comment">

      </form>
      <%_ } -%>
    <p><br /></p>
    <%_ if(owner) { -%>
      <%_ if(owner.username === event.organizer) { -%>
        <a href="/events/edit/<%=event._id-%>"<button class="btn btn-secondary">Edit</button></a>
        <a href="#"<button class="btn btn-danger delete-eve" data-id='<%= event._id-%>'>Delete</button></a>
      <%_ } -%>
    <%_ } -%>
  </div>
</body>
