<%- include('../head'); -%>


  <%- include('../navbar', {active: 'Calendar'}); -%>
  <body style="background-image : url('https://www.stlawu.edu/sites/default/files/news-images/Sullivan-Student-Center.jpg'); background-size:100%" >

  <div class="p-3">
    <h2 class = "text-danger "><%= event._id -%></h2>
    <!-- <div class="container-fluid" style=" background-color: #ffffff; opacity: .4;"> -->
    <div class="container-fluid" style="background: rgba(255, 255, 255, 0.3); display:inline;">

    <h4 class = "text-danger" style = "opacity: 1">People Invited: </h4>
    <p class = "text-danger"><%= event.people_invited-%></p>

    <!-- style="border:10px; border-style:solid; border-color:#FF0000; padding: 1em; display:inline" -->
    <h4 class = "text-danger">Location: </h4>
    <p class = "text-danger"><%=event.location-%></p>
    <h4 class = "text-danger">Date: </h4>
    <p class = "text-danger"><%=event.date.toLocaleDateString()-%> <%=event.date.toLocaleTimeString()-%></p>
    <h4 class = "text-danger">Organizer: </h4>
    <p class = "text-danger"><%=event.organizer-%></p>
    <h4 class = "text-danger">Description: </h4>
    <p class = "text-danger"><%= event.description -%></p>
    <h2 class = "text-danger">Comments: </h2>
    <%_ for (const c of comments) { -%>
      <p class = "text-danger"><%-c.comment-%></p>
      <p class = "text-danger"> - Posted By: <%-c.author-%></p>
      <%_ if(owner) { -%>
        <%_ if(owner._id == event.organizer || owner._id == c.author) { -%>
          <a href="#"<button class="btn btn-danger delete-comment" data-id='<%= c._id-%>'>Delete</button></a>
        <%_ } -%>
      <%_ } -%>

    <%_ } -%>
    <p><br /></p>
    <%_ if(owner) { -%>
      <form action="/comments/add" method="post">
        <div class="form-group">
          <input type="textarea" name="comment" placeholder="Comment...">
          <input class="HIDDEN" name="event" value="<%=event._id-%>">
        </div>
        <input class="btn btn-primary" type="submit"  value="comment">

      </form>
      <%_ } -%>
    <p><br /></p>
    <%_ if(owner) { -%>
      <%_ if(owner._id === event.organizer) { -%>
        <a href="/events/edit/<%=event._id-%>"<button class="btn btn-secondary">Edit</button></a>
        <a href="#"<button class="btn btn-danger delete-eve" data-id='<%= event._id-%>'>Delete</button></a>
      <%_ } -%>
    <%_ } -%>
    </div>
  </div>
</body>
