<!DOCTYPE html>
<html>
<%- include('../head'); -%>
<body>
  <%- include('../navbar'); -%>

  <div class="container-fluid">
      <main class="p-3">
        <h1>Edit Event: </h1>
        <form class="" action='/events/edit/<%=eve._id-%>'method="post">
          <div class="form-group">
            <label for="Title">Title</label>
            <input type="text" name="title" value="<%=eve.name-%>">
          </div>
          <div class="form-group">
            <label for="Title">People Invited: </label>
            <input type="text" name="people_invited" value="<%= eve.people_invited -%>">
          </div>
          <div class="form-group">
            <label for="Title">Location: </label>
            <input type="text" name="location" value="<%= eve.location -%>">
          </div>
          <div class="form-group">
            <label for="Title">Date: </label>
            <!-- Set the date automatically -->
            <!-- <input type="datetime-local" name="date" value="<%= date -%>"> -->
            <input type="datetime-local" name="date" value="2017-06-01T08:30">

            <!-- <input type="datetime-local" name="date" value="<%= eve.date.toLocaleDateString()-%> <%=eve.date.toLocaleTimeString()-%>"> -->
          </div>
          <div class="form-group">
            <label for="Title">Description: </label>
            <!-- Need to fix this -->
            <input type="textarea" name="description" value="<%= eve.description -%>">
          </div>
          <input class="btn btn-primary" type="submit" name="" value="submit">
        </form>
      </main>
  </div>
</body>
</html>
