<!DOCTYPE html>
<html>
  <%- include('../head'); -%>
  <body>
    <%- include('../navbar', {active: 'events'}); -%>
    <main class="p-3">
      <%_ if (admin) { -%>
        <%- include('./edit', {allEvents: allEvents}); -%>
      <%_ } else { -%>
        <%- include('./detail', {allEvents: allEvents}); -%>
      <%_ } -%>
    </main>
    <%_ if (admin) { -%>
      <%- include('./scripts'); -%>
    <%_ } -%>
  </body>
</html>
