<!DOCTYPE html>
<html>
  <%- include('../head'); -%>
  <body>
    <%- include('../navbar', {active: 'events'}); -%>
    <main class="p-3">
        <!-- If an admin go to the admin page which allows for changing stuff this -->
        <%_ if (admin) { -%>
          <%- include('./edit', {allEvents: allEvents}); -%>
        <%_ } else { -%>
          <%- include('./browse', {allEvents: allEvents, event: event}); -%>
        <%_ } -%>


    </main>
    <%_ if (admin) { -%>
      <%- include('./scripts'); -%>
    <%_ } -%>
  </body>
</html>
