<!DOCTYPE html>
<html>
  <%- include('../head'); -%>
  <body>
    <%- include('../navbar', {active: 'events'}); -%>
    <main class="p-3">
      <!-- If given an event go to that page othersie -->
      <%_ if (event != null) { -%>
        <%- include('./browse', {allEvents: allEvents, event: event}); -%>
      <%_ } -%>

      <%_ if (admin) { -%>
        <%- include('./edit', {allEvents: allEvents}); -%>
      <%_ } else { -%>
        <%- include('./detail', {allEvents: allEvents}); -%>
      <%_ } -%>
    </main>
    <%_ if (admin) { -%>
      <%- include('./scripts'); -%>
    <%_ } -%>
  </body>
</html>
