<!DOCTYPE html>
<html>
<%- include('../head'); -%>

  <%- include('../navbar', {active: 'myEvents'}); -%>
  <body style="background-image : url('https://www.stlawu.edu/sites/default/files/news-images/Sullivan-Student-Center.jpg'); background-size:100%" >

  <div class="container-fluid">
      <main class="p-3">
        <h1>My Events: </h1>
        <!-- This is the calendar view it displays all events -->
        <%_ for (const e of myEvents) { -%>
          <a href="/events/<%= e._id -%>" class="nav-item nav-link"><%=e._id-%></a>
          <!-- this date format needs to be fixed -->
          <p class="ml-3"><%=e.date-%></p>
        <%_ } -%>
      </main>
  </div>
</body>
</html>
