<!DOCTYPE html>
<html>
<%- include('./head'); -%>
<%- include('./navbar', {active:"Calendar"}); -%>

<body>

  <div class="container-fluid">
      <main class="p-3">
        <h1>Calendar: </h1>
        <!-- This is the calendar view it displays all events -->
        <%_ for (const e of allEvents) { -%>
          <div class="card bg-light">
            <div class="p-3">

              <a class = "card-text" href="/events/<%= e._id -%>" class="nav-item nav-link"><%=e._id-%></a>
              <!-- this date format needs to be fixed -->
              <br>
              <p class="card-subtitle"class="ml-3"><%=e.date.toLocaleDateString()-%> <%=e.date.toLocaleTimeString()-%></p>
            </div>
          </div>


        <%_ } -%>
      </main>
  </div>
</body>
</html>
