<header class="navbar navbar-expand navbar-dark bg-dark">
  <h1 class="navbar-brand">Non Academic Events</h1>
  <nav class="navbar-nav ml-3">
    <a href="/" class="nav-item nav-link <%= (active === 'Calendar') ? 'active' : 'inactive' -%>">Calendar</a>
    <%_ if(user) { -%>
      <a href="/events/myEvents" class="nav-item nav-link <%= (active === 'myEvents') ? 'active' : 'inactive' -%>">My Events</a>
      <a href="/events/add" class="nav-item nav-link <%= (active === 'add') ? 'active' : 'inactive' -%>">Create Event</a>
    <%_ } -%>



  </nav>
  <!-- I think this needs to go to a new page that has a user input a login -->
  <nav class="navbar-nav ml-auto">
    <%_ if(user) { -%>
      <a href="/users/logout" class="nav-item nav-link">Logout as <%=user-%></a>
      <%_ } else { -%>
        <a href="/users/login" class="nav-item nav-link <%= (active === 'login') ? 'active' : 'inactive' -%>">Login</a>
        <a href="/users/register" class="nav-item nav-link <%= (active === 'register') ? 'active' : 'inactive' -%>">Register</a>
      <%_ } -%>

  </nav>
</header>
<%- messages('messages', locals) %>
