<nav class="navbar navbar-expand navbar-light" style="background-color: #af1e2d;">
  <img src="https://www.stlawu.edu/sites/all/files/logo.svg" alt="Navbar" height="60" width="140" />
  <h1 class="navbar-brand m-3" >Non Academic Events</h1>
  <nav class="navbar-nav m-3" style="background-color: #4b2b23;">
    <a href="/" class="nav-item nav-link <%= (active === 'Calendar') ? 'active' : 'inactive' -%> text-white p-1" >Calendar</a>
    <%_ if(user) { -%>
      <a href="/events/myEvents" class="nav-item nav-link <%= (active === 'myEvents') ? 'active' : 'inactive' -%> text-white p-1">My Events</a>
      <a href="/events/add" class="nav-item nav-link <%= (active === 'add') ? 'active' : 'inactive' -%> text-white p-1" >Create Event</a>
    <%_ } -%>



  </nav>
  <!-- I think this needs to go to a new page that has a user input a login -->
  <nav class="navbar-nav ml-auto style="background-color: #4b2b23;"">
    <%_ if(user) { -%>
      <a href="/users/logout" class="nav-item nav-link text-white" style="background-color: #4b2b23;">Logout as <%=user-%></a>
      <%_ } else { -%>
        <a href="/users/login" class="nav-item nav-link <%= (active === 'login') ? 'active' : 'inactive' -%> text-white m-1" style="background-color: #4b2b23;">Login</a>
        <a href="/users/register" class="nav-item nav-link <%= (active === 'register') ? 'active' : 'inactive' -%> text-white m-1" style="background-color: #4b2b23;">Register</a>
      <%_ } -%>

  </nav>
</nav>
<%- messages('messages', locals) %>
